@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff; 
}

.header::after {
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: " ";
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    
}

.logo {
    position: relative;
    z-index: 2;
}

.title {
    position: relative;
    z-index: 2;
}
@media (max-width: 640px) {
    .header {
        background-image: url("../images/banner-mobile.jpg");
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        height: 100vh;
    }
    .header::after {
        height: 100vh;
    }
    
    .menu-list {
        display: none;
    }

    .logo {
        min-width: 269px;
        min-height: 61px;
    }

    .burger-button {
        background-color: transparent;
        position: absolute;
        top: 32px;
        right: 15px;
        width: 25px;
        height: 25px;
        border: none;
    }    

    .line-btn {
        position: absolute;
        z-index: 2;
        top: 11px;
        right: 0;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
    }

    .line-btn:nth-child(1) {
        transform: translateY(-10px);
    }

    .line-btn:nth-child(3) {
        transform: translateY(10px);
    }

    .header-title {
        display: flex;
        max-width: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 45px;
        
    }
    .title {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.6rem;
        text-align: center;
    }


}
@media (min-width: 641px) and (max-width: 1200px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        height: 392px;
         
    }

    .header::after {
        height: 392px;
    }

    .menu-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 35px;
    }

    .logo {
        margin-top: 48px;
        max-width: 158px;
        max-height: 36px;
    }

    .menu-list {
        display: none;
    }

    .header-title  {
        margin: 85px auto 0;
        width: 615px;
    }

    .title {
        margin: 0;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
    
    }
    .burger-button {
        background-color: transparent;
        position: absolute;
        top: 53px;
        right: 35px;
        width: 25px;
        height: 25px;
        border: none;
        
    }    

    .line-btn {
        position: absolute;
        z-index: 2;
        right: 0;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
    }

    .line-btn:nth-child(1) {
        transform: translateY(-10px);
    }

    .line-btn:nth-child(3) {
        transform: translateY(10px);
    }
    
}

@media (min-width: 1200px) {
    .header {
        background-image: url('../images/banner-bg.jpg');
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    .header::after {
        height: 450px;
    }

    .menu-logo {
        width: 70vw;
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
    }
    
    .logo {
        max-width: 179px;
        max-height: 41px;
    }
    
    .menu {
        position: relative;
        z-index: 2; 
        font-size: 0.8rem; 
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-list {
        list-style: none;
        display: flex;  
    }

    .menu-list-item:not(:last-child) {
        margin-right: 35px;
    }

    .menu-list-item a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .header-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
        height: 100vh;
        margin-top: 0;
    }

    .title {
        font-size: 2.8rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
    }
    
    .burger-button {
        display: none;
    }

}

@media (max-width: 640px) {
    
    .article {
        
    }
    .article-trend {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;  
    }
    .article-trend_title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0;
    }
    .article-trend_title::after {
        content: "";
        width: 67px;
        height: 3px;
        background: #e1d9bd;
        position: absolute;
        right: 40px;
        top: 30px;
        
    }
    .section-trend {

    }
    .section-trend_content {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;  
    }
    
    .section-trend_image {
        position: relative; 
    }

    .images-trend {
        width: 100vw;
        height: 65vw;
    }

    .section-trend_main {
        position: absolute;
        border: 3px solid #8e825b;
        display: flex;
        flex-direction: column;
        bottom: 17px;
        width: 90vw;
        padding: 5vw 3vw;
        margin-bottom: 17px; 
    }

    .section-trend_image::after {
        display: block;
        margin-left: auto;
        margin-right: auto;
        content: " ";
        background-color: #000000;
        position: absolute;
        height: 65vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
    }

    .section-trend-category {
        font-size: 0.875rem;
        color: #b59f5b;
        font-weight: bold;
        text-transform: uppercase;
        word-spacing: 18px;
        
    }
    .section-trend_info {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;

    }
}

@media screen and (min-width: 641px) and (max-width: 1200px) {
    .article {
        display: flex; 
        flex-wrap: wrap;
        
    }

    .article-trend {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 13vw;
    }
    .article-trend_title {
        font-size: 1.125rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
        position: relative;
    }
    .article-trend_title::after {
        content: "";
        width: 67px;
        height: 3px;
        background: #e1d9bd;
        position: absolute;
        right: 40px;
        top: 35px;
        
    }
    .section-trend {
        
    }
    .section-trend:nth-child(2n + 3) {
        margin-left: 0.5%;
    }
    .section-trend_content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        
    }

    .section-trend_image {
        position: relative;
    }

    .images-trend { 
        
        width: 49.75vw;
        height: 32vw;
    }
    .section-trend_image::after {
        display: block;
        margin-left: auto;
        margin-right: auto;
        content: " ";
        background-color: #000000;
        position: absolute;
        height: 32vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
    }

    .section-trend_main {
        position: absolute;
        border: 3px solid #8e825b;
        display: flex;
        flex-direction: column;
        width: 45vw;
        padding: 5vw 4vw;
        bottom: 17px;
    }

    .section-trend-category {
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #b59f5b;
        word-spacing: 18px;
    }

    .section-trend_info {
        font-size: 1.063rem;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        
    }
}